.App-content{
    align-items: center;
    justify-content: center;
    height: 110vh;
    background-color: #f0f0f0;
}
.App{
    background-color: #f0f0f0;

}

footer{
    width: 100%;
}
header li {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  position: relative;
}
header li::after {
  content: "";
  height: 2px;
  width: 0;
  display: block;
  background: #000e5c;
  transition: width 0.3s ease-in-out;
  position: absolute;
  left: 0;
}
header li:hover {
  color: #000e5c;
  cursor: pointer;
}
header li:hover::after {
  width: 100%;
}
header li.underline::after {
  width: 100%;
}
